.search-box-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
}

.post-reply-input-and-button {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-box-input-input {
    flex: 1;
    box-sizing: border-box;
    padding: 10px 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
    font-family: inherit;
    margin-left: 20px;
    width: 100%;
    resize: none;
    height: 50px;
}

.post-reply-input-input:focus {
    border-color: #1da1f2;
}

.search-box-button {
    background-color: var(--blue);
    width: 200px;
    height: 50px;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    margin-left: 20px;
}

.post-reply-input-button:hover {
    background-color: #168dd9;
}

.post-reply-input-button:disabled {
    background-color: var(--light-gray);
    cursor: default;
}

@media (max-width: 1024px) {
    .search-box-button {
        margin-top: 20px;
        margin-right: 10px;
    }

    .post-reply-input-and-button {
        flex-direction: column;
    }

    .search-box-container {
        flex-direction: column;
        padding-right: 40px;
    }

    .search-box-container button {
        width: 100%;
    }
}
