.user-information-container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.user-information-container {
    background-color: var(--extra-light-gray);
    padding: 10px;
    border-radius: 20px;
}

.user-information-profile-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-information-profile-image img {
    margin-bottom: 10px;
}

.user-information-data {
    margin-left: 20px;
    padding: 20px;
}

.user-information-data button {
    width: 100%;
}

.user-information-following {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1024px) {
    .user-information-container-flex{
        flex-direction: column;
    }

    .user-information-container {
        border-radius: 0%;
    }

    .user-information-following {
        flex-direction: column;
    }
}