.navbar-item {
    padding: 10px;
}

.navbar-item img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.navbar-item a {
    color: var(--black);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.navbar-item p {
    color: var(--black);
}

.navbar-item p:hover {
    color: var(--light-gray);
}

@media (max-width: 1024px) {
    .navbar-item p {
        display: none;
    }

    .navbar-item img {
        width: 20px;
        height: 20px;
    }
}